$buttonHeight: 30px;
$buttonWidth: 40px;
$togglesHeight: 2px;

.navbar-toggler {
  position: relative;
  border: none;
  width: $buttonWidth;
  height: $buttonHeight;
  background-color: transparent;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  padding: 0;

  span {
    display: block;
    position: absolute;
    height: $togglesHeight;
    width: 100%;
    background: currentColor;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2) {
      top: calc(50% - (#{$togglesHeight} / 2));
    }

    &:nth-child(3) {
      top: calc(100% - #{$togglesHeight});
    }
  }

  &.opened {
    span {
      &:nth-child(1) {
        top: calc(50% - (#{$togglesHeight} / 2));
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        opacity: 0;
        left: -60px;
      }

      &:nth-child(3) {
        top: calc(50% - (#{$togglesHeight} / 2));
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
