@import '@/shared/common/variables/typography';
@import '@/shared/common/variables/colors';

html,
body {
  font-family: $main-font;
  max-width: 100vw;
  background-color: $color-background;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  @include paragraph-size;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@import './scroll';
@import './main-container';
@import './buttons';
